<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-md-6 veil col-md-offset-3">
        <div class="logo">
        <% if @user.has_image? %>
          <%= image_tag @user.avatar.url(:medium)  %>
        <% else %>
          <%= image_tag "logo.png"  %>
        <% end %>
        </div>
        <div class="fields">
          <%= bootstrap_form_for(@user) do |f| %>
            <%= f.text_field :email %>
            <%= f.text_field :username %>
            <%= f.password_field :password %>
            <%= f.file_field :avatar, as: :file %>
            <%= f.submit "Save Changes" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
