<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-login-text">
        <h1>God Bless Texas</h1>
      </div>
    </div>
    <div class="col-md-6 veil col-md-offset-3 login-form">
      <div class="veil-container">
        <div class="logo">
        <%= image_tag "logo5.png"  %>
        </div>
        <div class="fields">
            <%= form_tag login_path, method: :post, class: 'form-signin', role: 'form' do %>
            <%= label_tag 'inputEmail', 'Email', class: 'col-sm-2 control-label sr-only' %>
            <%= text_field_tag :email, nil, class: 'form-control', id: 'input-email', placeholder: 'Email' %>
            <%= label_tag 'inputPassword', 'Password', class: 'col-sm-2 control-label sr-only' %>
            <%= password_field_tag :password, nil, class: 'form-control', id: 'inputPassword', placeholder: 'Password' %>
            <%= submit_tag 'Sign in', class: 'btn btn-info btn-info btn-block' %>
            <%= link_to 'Not a member? Register', signup_path, class: 'btn btn-info btn-info btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
